@use './../../color.scss' as c;

.icon-box {
    display: grid;
    place-items: center;
    height: 100%;
}

#bestellungInfo {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: c.$color3;
    color: rgb(245, 245, 245);
    height: 60px;
    width: 400px;
    padding: 20px 10px;
<<<<<<< HEAD
    z-index: 9999;
  }
=======
    font-family: 1rem;
}
>>>>>>> 71a6e46e613fdbcf4dabe69443a4dfbff20d2196
