<!DOCTYPE html>
<div id="shoppingCartBody">
    <div id="shoppingCart">
        <h1>Warenkorb</h1>
        <div id="products">
        </div>
        <div id="priceBox">
            <p>Gesamt</p>
            <p id="shoppingCartPrice">37,21€</p>
        </div>
        <p id="orderInfo">Wenn sie jetzt bestellen, können Sie Ihre Bestellung um <span>14:30 Uhr</span> abholen.
        </p>
        <div id="preferedTimeBox">
            <select name="preferedTime" id="preferedTime">
                <option value="gleich">Gleich Abholen</option>
                <option value="andere">Andere Zeit</option>
            </select>
        </div>

        <a id="orderB" routerLink="order">Bestellen</a>
    </div>
</div>
