<div id="shoppingCartBody" [ngStyle]="{'display': hide ? 'none' : 'block'}">
    <fa-icon (click)="onClose()" id="shoppingCartB" [icon]="faClose">
    </fa-icon>
    <div id="shoppingCart">
        <h1>Warenkorb</h1>
        <div id="products">
            <app-shopping-cart-item *ngFor="let oi of order.orderItems; let i = index;"
                [(orderItem)]="order.orderItems[i]" (deleteOrderItem)="deleteOrderItem(oi)"
                (orderItemChange)="change(oi)"></app-shopping-cart-item>
        </div>
        <div id="priceBox">
            <p>Gesamt</p>
            <p id="shoppingCartPrice">{{sum.toFixed(2).replace('.', ',')}}€</p>
        </div>
        <p id="orderInfo" *ngIf="toogleSlider==false">Wenn sie jetzt bestellen, können Sie Ihre Bestellung am {{order.planedToPickTime.getDay() + order.planedToPickTime.getMonth() }} {{order.planedToPickTime.getDate()}}.{{order.planedToPickTime.getMonth() + 1}}.{{order.planedToPickTime.getFullYear()}} um <span> {{order.planedToPickTime.getHours()}}:{{order.planedToPickTime.getMinutes()}} Uhr</span> abholen.
        </p>
        <section class="example-section">
            <!-- <mat-checkbox class="example-margin" [(ngModel)]="checked">Dort Essen!</mat-checkbox> -->
            Zum Mitnehmen <mat-slide-toggle [(ngModel)]="toogleSlider">Hier Essen</mat-slide-toggle>
        </section>
        <div id="preferedTimeBox">
            <select [(ngModel)]="firstSelectValue" name="preferedTime" id="preferedTime">
                <option value="gleich" selected>Gleich Abholen</option>
                <option value="andere">Andere Zeit</option>
            </select>
            <input #myElem *ngIf="firstSelectValue=='andere'" type="datetime-local" id="preferedTimePicker">
        </div>

        <a id="orderB" routerLink="order" (click)="onClose()">Bestellen</a>
    </div>
</div>