<div class="product">
    <img loading="lazy" src={{orderItem.orderItemId.product.imageName}} alt="imageName">
    <div class="textBox">
        <h3 class="productName" title="${name}">{{orderItem.orderItemId.product.name}}</h3>
        <div>
            <p class="amount">{{orderItem.quantity}}x</p>
            <p class="priceP">{{orderItem.orderItemId.product.price.toFixed(2).replace('.', ',')}}€</p>
        </div>
    </div>
    <div class="borderBTW"></div>
    <div class="modificationBox">
        <div>
            <button (click)="dec()" class="minusB">-</button>
            <p class="productNumberP">{{orderItem.quantity}}</p>
            <button (click)="inc()" class="plusB">+</button>
        </div>
        <fa-icon (click)="onDelete()" class="deleteB" [icon]="faTrash">
        </fa-icon>
    </div>
</div>