<h1>Bestellungen zu bearbeiten</h1>

<div class="options">
        <label for=""> Alle Bestellungen mit dem Status: </label>
        <select (change)="onSelectChange($event)">
                <option *ngFor="let os of orderStats | keyvalue" value={{os.key}} [selected]="os.key === 'OPEN'">{{
                        os.value }}</option>
        </select>
</div>

<div class="container">
        <app-admin-page-item class="group" *ngFor="let o of orders" [order]=(o)></app-admin-page-item>
        <h2 *ngIf="orders.length <= 0">Zur Zeit keine offene Bestellungen</h2>
</div>