h1 {
  margin: 2vw 5vw 0 5vw;
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 2vw;
  font-size: 2vw;
}

.container {
  margin: 5vw;
}

.options {
  margin:0 5vw;
  padding: 1vh 0;
  border-bottom: 1px dashed rgb(0, 0, 0);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.options label {
  font-size: 1.2em;
}

.options select {
  height: 30px;
  font-size: 1.15em;
}

h2 {
  text-align: center;
}