<div class="group" *ngIf="order">
    <div class="header"><p>NR: {{order.orderPosition}}</p>
        <!-- <p>{{customerIdent}}</p> -->
        <!-- <p>{{order.orderStatus}}</p> -->
        <p>Tel: {{order.customer?.lastname}}</p>
        <p>Fertig um: {{order.planedToPickTime}}</p>
    </div>
    <div class="orderNotiz">
    <div *ngFor="let orderItems of order.orderItems">
        <span><img src="./assets/img/products/{{orderItems.orderItemId.product.imageName}}" alt="dish"
             style="max-height: 100px; max-width: 100px;">
        <p>{{orderItems.orderItemId.product.name}}</p></span>
    </div>
    <div class="notiz">
        platzhalter
    </div>
    </div>
</div>