/* Legend 
$fontC: font colour
$color2: main page button colour
$color3: login fonts 
$backGC: login and signup button color
$primaryC: #7BAE7F;
$registerC: 
$headerC: backround colour of main page
$logInFontC: LogIn font colour
*/

//Colour Themes

// Theme 2 current theme
$fontC: #c4c4c4;
$color2: #72c091;
$color3: #454851;
$backGC: #73956F;
$primaryC: #7BAE7F;
$registerC: #5581b0bd;
$headerC: #73956F;
$logInFontC: #5da954;

// Theme 1
/*
$fontC: #faf3f8;
$color2: #E5E059;
$color3: #E5625E;
$backGC: #E5E059;
$primaryC: #E5E059;
$registerC: #999799;
$headerC: #BDD358;
$logInFontC: #E5625E;
*/

// Theme 3
/*
$fontC: #faf3f8;
$color2: #BAB0A5;
$color3: #102542;
$backGC: #BAB0A5;
$primaryC: #E5E059;
$registerC: #CDD7D6;
$headerC: #B3A394;
$logInFontC: #102542;
*/

//Theme 4 
/*
$fontC: #faf3f8;
$color2: #4F5D75;
$color3: #EF8354;
$backGC: #2D3142;
$primaryC: #E5E059;
$registerC: #BFC0C0C0;
$headerC: #2D3142;
$logInFontC: #EF8354;
*/