<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Log in</title>
</head>
<body>


<main>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <input id="usernameRegister" type="text" placeholder="Username" />
      <input id="passwordRegister" type="password" placeholder="Password" />
      <p class="loginButton" (click)="this.register()" >Register</p>
      <p (click)="this.singInChangeWindow()" class="signInButton" id="signInButton">Sign In</p>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <input id="namesignIn" type="text" placeholder="Username" />
      <input id="passwordsignIn" type="password" placeholder="Password" />
      <p class="loginButton" (click)="this.signIn('home')" >Sign In</p>
      <p (click)="this.singUpChangeWindow()" class="registerButton" id="registerButton">Register</p>
    </form>
  </div>
</div>
</main>
<footer>

</footer>
<script src="https://kit.fontawesome.com/3e1a323474.js" crossorigin="anonymous"></script>

</body>
</html>
