<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bestellung</title>

    <!-- Favicons -->
    <link href="../../../assets/img/pickngo_logo.png" rel="icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="container d-flex align-items-center justify-content-center justify-content-md-between menuBox">
            <a href="./" class="contact-info d-flex align-items-center" style="color:white;">
                <img src="../../../assets/img/pickngo_logo.png" width="50px" alt="pickngo-logo"><span>Pick'n Go</span>

            </a>
            <div class="right-icons">
                <i id="shoppingCartB" class="bi bi-cart-fill activeMenuItem"
                   style="font-size:30px; padding: 15px;color:white;"></i>
                <i routerLink="../login" class="fa fa-user-circle" style="font-size:30px;color:white;"></i>
            </div>

        </div>

    </div>
</header>

<main>
    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="col-12 d-flex icon-boxes orderSection">
        <div class="">

            <div class="row">
                <div class="col-md-5 col-lg-5 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="floating-label">
                            <h4 class="title" style="text-align:center;font-size:40px;">Ihre Bestellung ist abholbereit um</h4>
                            <img src="../../../assets/img/comp_3.gif" style="width:465px;height:auto;">
                            <h4 class="title" style="text-align:center;font-size:60px;">14:30</h4>
                        </div>
                    </div>
                </div>

                <div class="col-8 d-flex align-items-stretch mb-5 mb-lg-0" id="second" data-aos="fade-up"
                     data-aos-delay="100">
                    <div id="productBox" class="icon-box">
                        <h4 class="order">Meine Bestellung</h4>
                        <div id="orderProduct">
                        </div>
                        <div id="orderPrice"></div>
                    </div>
                </div>
            </div>



        </div>
    </section><!-- End Icon Boxes Section -->
</main>



<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


</body>

</html>
