<div class="orderPageContainer">
    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="col-12 d-flex icon-boxes orderSection">
        <div class="">

            <div class="orderBox">
                <div>
                    <div class="col-8 d-flex align-items-stretch mb-5 mb-lg-0 orderDetailBox" id="second"
                        data-aos="fade-up" data-aos-delay="100">
                        <div id="productBox" class="icon-box">
                            <h4 class="order">Meine Bestellung</h4>
                            <div id="orderProduct">
                                <app-shopping-cart-item *ngFor="let oi of order.orderItems; let i = index;"
                                    [(orderItem)]="order.orderItems[i]" (deleteOrderItem)="deleteOrderItem(oi)"
                                    (orderItemChange)="change(oi)">
                                </app-shopping-cart-item>
                            </div>
                            <div id="orderPrice">
                                <h5>Gesamt</h5>
                                <p id="shoppingCartPrice">{{sum.toFixed(2).replace('.', ',')}}€</p>
                            </div>
                        </div>
                    </div>

                    <div class="inputBox">
                        <div [ngStyle]="{'display': ordered ? 'none' : 'block'}"
                            class="col-4 d-flex align-items-stretch mb-5 mb-lg-0" id="first" data-aos="fade-up">
                            <div class="icon-box telefonNRBox">
                                <div class="floating-label">
                                    <form [formGroup]="form" id="login-form" (ngSubmit)="onSubmit()"
                                        ngClass="logedIn ? 'logedIn' : 'notLogedIn'">
                                        <div [ngStyle]="{'display': logedIn ? 'none' : 'block'}">
                                            <h4 class="title" style="text-align:center;">Für die Bestellbestätigung
                                                benötigen wir
                                            </h4>
                                            <h4 class="title" style="text-align:center;">Ihre Telefonnummer</h4>
                                            <input #tel formControlName="tel" placeholder="Tel." type="tel" name="tel"
                                                id="tel" autocomplete="off" />

                                        </div>

                                        <!-- <div> -->
                                        <h1>Notiz:</h1>
                                        <textarea id="textBox" cols="30" rows="10"></textarea>
                                        <!-- </div> -->
                                        <button class="buttonDiv">Bestätigen</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div [ngStyle]="{'display': !ordered ? 'none' : 'block'}" data-aos="fade-up">
                            <div class="icon-box">
                                <div class="floating-label">
                                    <h4 class="title" style="text-align:center;font-size:40px;">Ihre Bestellung ist
                                        abholbereit um</h4>
                                    <img src="assets/img/comp_3.gif" style="width:465px;height:auto;">
                                    <h4 class="title" style="text-align:center;font-size:60px;">{{ ("0" + (planedPickupTime.getHours())).slice(-2) + ":" + ("0" + (planedPickupTime.getMinutes())).slice(-2) }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section><!-- End Icon Boxes Section -->

    <div [ngStyle]="{'display': !bestellt ? 'none' : 'block'}" id="bestellungInfo">
        <p>Ihre Bestellung wurde erfolgreich durchgeführt!</p>
    </div>
</div>

<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a> -->