@use './../../color.scss' as c;

* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

html {
  height: 100%;
  color: #444444;
  overflow: visible;
}

section {
  width: 100vw;
  // height: 70vh;
  padding: 0 10vw;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.row {
  display: grid;
  place-items: center;
  gap: 3vw;
}

a {
  text-decoration: none;
  color: #0880e8;
}

a:hover {
  color: #2b99f8;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Telefonnummer form
--------------------------------------------------------------*/

input {
  font-size: 16px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
  background: #fff;
  width: 1280px;
  box-sizing: border-box;
  transition: all .3s linear;
  color: #000;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tel {
  width: 20vw !important;
}

#login-form {
  width: 20vw !important;
}

.buttonDiv {
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
  // margin-right: 4vw;
}

input:focus {
  border-bottom: solid 1px red;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgb(182, 157, 230, .40);
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.floating-label input {
  width: calc(100% - 44px);
  display: flex;
}

.floating-label img {
  display: grid;
  justify-content: center !important;
  align-items: center !important;
}

input#tel {
  width: 100%;
}

path {
  transition: all .3s ease;
}


input:not(:placeholder-shown) {
  padding: 28px 0 12px 0;
}

input:not(:valid):not(:focus)+label+.icon {
  animation-name: shake-shake;
  animation-duration: .3s;
}

#orderProduct::-webkit-scrollbar {
  width: 5px;
}

#orderProduct::-webkit-scrollbar-thumb {
  background: #626262;
}

#orderProduct:hover::-webkit-scrollbar-thumb {
  background: #000000;
}


.imageBox {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.imageBox .textBox {
  display: grid;
  grid-template-columns: 3fr 100px;
  align-items: center;
}

.imageBox .textBox>p:first-of-type {
  text-align: left;
}

.imageBox .textBox>p:last-of-type {
  text-align: right;
}

#priceBox {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

#productBox {
  height: 70vh;
}

#orderProduct {
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: repeat(auto-fill, 100px);
  gap: 1vh;
  padding: 1vh 0;
  border-bottom: 1px solid black;
}

// #orderProduct > * {margin-bottom: 1vh;}

#orderPrice {
  margin-top: 4vh;
  height: 20%;
  display: grid;
  grid-auto-flow: column;
}

#orderPrice>h5 {
  font-size: 1.5rem;
}

#orderPrice>p {
  text-align: right;
  font-size: 1.7rem;
  padding-right: calc(2rem + 5px);
}

.orderSection {
  // height: 85%;
  display: grid;
  justify-content: center;
}

.orderBox>div {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2rem;
  place-items: center;
  justify-content: center;
  width: 90vw;
  max-height: 100vh !important;
}

.telefonNRBox {
  border: 1px solid red;
  height: 70vh !Important;
}

.inputBox {
  height: 70vh !Important;
}

.floating-label {
  height: 50vh !Important;
}

#login-form {
  height: 10vh !Important;

}

.orderBox {
  display: grid;
  grid-template-rows: 1fr 100px;
}

.inputBox {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .orderBox>div {
    grid-template-columns: 7fr 3fr;
  }
}

#second {
  width: 100%;
}

.inputBox div {
  height: 100%;
}

.telefonNRBox {
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.inputBox form {
  height: 80% !important;
  display: grid;
  grid-template-rows: 1fr .1fr 7fr;
  gap: 1vh;
}

.orderSection>div>div>div {
  // width: 100%;
}

@keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }

  20% {
    transform: translateX(3px);
  }

  40% {
    transform: translateX(-3px);
  }

  60% {
    transform: translateX(3px);
  }

  80% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0px);
  }
}

button {
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 35px;
  background-color: c.$color2;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
  border: none;
  transition: all .3s ease;
  outline: 0;
}

#bestellungInfo {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #303030;
  color: rgb(245, 245, 245);
  height: 60px;
  width: 400px;
  padding: 20px 10px;
  font-family: 1rem;
}

.buttonDiv {
  display: grid;
  align-items: center;
  justify-content: center;
}


button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);
}

button:active {
  transform: scale(.99);
}

/*--------------------------------------------------------------
# Meine Bestellung
--------------------------------------------------------------*/
.order {
  border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.imageBox {
  margin-top: 20px;
}

.imageBox img {
  border-radius: 15px;
  object-fit: cover;
  width: 100px;
  height: 90px;
  border: .5px solid grey;
}

.textBox {
  display: inline-block;
  position: relative;
  width: auto;
  margin-left: 10px;
}

.textBox p {
  position: relative;
  display: inline-block;
  font-size: 25px;
  margin: 0;
}

.imageBox .price {
  position: absolute;
  top: 0;
  right: -5em;

  float: left;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0880e8;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2194f7;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.fa-solid .fa-cart-shopping {
  border: 1px solid red;
  font-size: 30px;
}

.right {
  width: 100px;
  height: 100px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  background: url(../../../assets/img/Walk.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 1s !important;
  }
}

@media screen and (max-width: 1070px) {
  .orderSection>div>div {
    grid-template-columns: 98vw;
  }

  .orderSection p {
    font-size: 90%;
  }

  .imageBox .textBox {
    grid-template-columns: 90% 10%;
  }

  #orderProduct::-webkit-scrollbar {
    width: 1px;
  }

  .icon-boxes .icon-box {
    padding: 20px 18px !important;
  }

  .contact-info {
    color: #6161ff !important;
  }

  .floating-label h4 {
    font-size: 23px !important;
  }

  .floating-label img {
    display: grid;
    justify-content: center !important;
    margin: auto;
    width: 350px !important;
    height: auto !important;
  }
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.container .header {
  margin: 0;
  padding: 0;
}

#header {
  z-index: 997;
  height: 70px;
  top: 0px;
  background-color: #6161ff;
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  // height: 80%;
}

.section-bg {
  background-color: #f1f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #054a85;
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
}

.title h4 {
  display: block;
  font-size: 20px;
}

/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/

#second {
  // height: 680px;
}

.icon-boxes {
  padding-top: 0;
  z-index: 100;
  position: absolute;
  top: 15%;
  margin-top: 1vh;
}

.icon-boxes .icon-box {
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  width: 100%;
}

.icon-boxes .icon {
  margin: 0 auto 20px auto;
  display: inline-block;
  text-align: center;
}

#textBox {
  height: 20vh;
}

.icon-boxes .icon i {
  font-size: 36px;
  line-height: 1;
  color: #f6b024;
}

.icon-boxes .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-boxes .title a {
  color: #05579e;
}

.icon-boxes .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #777777;
}