<div class="icon-box">
    <h4 class="title" style="text-align:center;">{{name}}</h4>
    <div class="floating-label speciality">
        <div class="slider">
            <app-menu-img *ngFor="let p of menu.products" url={{p.imageName}}></app-menu-img>
        </div>
        <h4 class="title" style="text-align:center;">{{title}}</h4>
        <h4 class="description" style="text-align:center;">{{menu.description}}</h4>
        <h4 class="price" style="text-align:center;">{{menu.price}}</h4>
        <div class="buttonDiv">
            <button type="submit" class="buttonDave">In den Warenkorb</button>
        </div>
    </div>
</div>