<header id="header" class="fixed-bottom d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="container d-flex align-items-center justify-content-center justify-content-md-between menuBox">
            <a routerLink="./" class="contact-info d-flex align-items-center activeMenuItem" style="color:white;">
                <img loading="lazy" src="assets/img/pickngo_logo.png" width="50px" alt="pickngo-logo">
                <span class="logoText">Pick'n Go</span>
            </a>
            <div class="klimabox">
                <a routerLink="./klimabox">
                    <fa-icon title="Klima Box" id="klimaboxB" style="font-size:30px; padding: 15px;color:white;"
                        [icon]="klimaBoxIcon">
                    </fa-icon>
                </a>
                <div [hidden]="!isLoggedIn" class="adminPage">
                    <a routerLink="adminPage"> Admin Page </a>
                </div>
            </div>

            <!-- <a routerLink="./adminPage">Admin Page</a> -->
            <div *ngIf="isOnLoginPage" class="right-icons">
                <app-searchbar id="searchbar"></app-searchbar>
                <div matBadge="{{shoppingCartItemCounter}}" matBadgeOverlap="true" matBadgeColor="warn"
                    class="demo-section" style="margin: 15px;color:white;">
                    <fa-icon (click)="onClickShoppingCart()" id="shoppingCartB" style="font-size:30px;"
                        [icon]="shoppingCartIcon">
                    </fa-icon>
                </div>
                <!-- <a routerLink="login">
                    <fa-icon id="shoppingCartB" style="font-size:30px; padding: 15px;color:white;" [icon]="userIcon">
                    </fa-icon>
                </a> -->
                <div class="loginBox">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>
                            <fa-icon id="shoppingCartB" style="font-size:30px; padding: 15px;color:white;"
                                [icon]="userIcon">
                            </fa-icon></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <a routerLink="myorders" mat-menu-item>
                            Meine Bestellungen
                        </a>
                        <a routerLink="login" mat-menu-item>
                            Anmelden
                        </a>
                    </mat-menu>
                </div>
            </div>
            <div *ngIf="!isOnLoginPage">
                <a routerLink="login">
                    <fa-icon id="asdf1" style="font-size:30px; padding: 15px;color:white;" [icon]="userIcon">
                    </fa-icon>
                </a>
            </div>
        </div>
    </div>
</header>