<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anmeldung</title>
    <link rel="icon" href="../../../assets/img/pickngo_logo.png">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="login-body">
    <header id="login-header">
        <div id="login-title">Anmelden</div>
    </header>

    <div class="container">
        <form [formGroup]="form" id="login-form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="input-label">USERNAME</label>
                <input formControlName="username" class="login-input form-control" type="text" placeholder="Username eingeben ..." id="login-email-user-input"
                       [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />



            </div>

            <div class="form-group">
                <label class="input-label">PASSWORT</label>
                <input class="login-input form-control" formControlName="password" type="password"
                       placeholder="Passwort eingeben ... " id="login-password-input" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />

            </div>

            <div class="form-group">
                <button [disabled]="loading" class="login-button">
                    <span *ngIf="login.success" class="spinner-border spinner-border-sm mr-1"></span>
                    <p>Anmelden</p>
                </button>
                <div class="register-link">
                    <br><a routerLink="../register" id="signup-text" class="btn btn-link cta">
                    <span>Noch kein Konto?</span>
                    <span><svg width="13px" height="10px" viewBox="0 0 13 10">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg></span>
                </a>
                </div>
            </div>

        </form>
    </div>


</body>
</html>
