@use '../../color.scss' as c;

* {
  font-family: comforta, sans-serif !important;
}

body {
  margin-top: 4vw !important;
}


#login-title {
    font-size: 7vw !important;
}

#login-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-title {
  margin-top: 5vh;
}

#login-form {
  width: 30vw !important;
}

button {
  width: 11vw !important;
  height: 6vh !important;
}

input {
  font-size: 1.2vw !important;
}

.login-button p {
  font-size: 1.3vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.register-button {
  color: black;
  border-radius: 28px;
  height: auto;
  width: 20vw !important;
  font-weight: bolder;
  font-family: comforta, serif;
  text-align: center;
  border: none;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-transform: uppercase;
  font-size: 1.3vw;
  letter-spacing: .2vw;
}
.register-button p {
  margin: 0;
}

.register-button:hover {
  background-color: c.$registerC;
}

@media (max-width: 500px) {
  .register-button {
    width: 30vw !important;
    font-size: 2vw !important;
  }
  .login-button {
    width: 30vw !important;
    height: 5vh !important;
  }
  input {
    font-size: 2.8vw !important;
  }
  .input-label {
    font-size: 2.8vw !important;
  }
  #login-form {
    width: 50vw !important;
  }
  .register-link {
    height: 10vh;
    width: 50vw !important;
  }
}

@media (max-width: 900px) {
  input {
    font-size: 2.5vw !important;
  }
  .input-label {
    font-size: 2.5vw !important;
  }
}

@media (max-width: 450px) {
  .register-link {
    margin-top: 0 !important;
  }
  .login-input {
    margin-bottom: 1vh !important;
    height: 4vh !important;
  }
}


.login-button p {
  line-height: 6.1vh !important;
  margin: 0 !important;
}

@media (max-width: 600px) {
  body {
    margin-top: 5vh !important;
  }
}

@media (max-width: 900px) {
  .register-link {
    height: 10vh !important;
  }
    button {
      width: 17vw !important;
      height: 5vh !important;
    }
    .login-button {
      font-size: 2vw !important;
      margin-top: 0;
      width: 15vw !important;
      height: 6vh !important;
    }
  .login-button p {
    font-size: 2vw !important;
  }
    #login-form {
      width: 50vw !important;
    }
    .form-group {
      width: 50vw !important;
      margin-top: 3vh;
    }
    .signup-input {
      margin-bottom: 0 !important;
      height: 3vh !important;
      font-size: 2vw !important;
    }
    .input-label-signup {
      font-size: 2vw !important;
    }
  }


.register-link {
  height: 5.5vh !important;
}

.register-link span {
  font-size: 1vw !important;
}

@media (max-width: 1114px) {
  .register-link {
    width: 40vw;
    height: 6vh !important;
  }
  .register-link span {
    font-size: 1vw !important;
  }
  .cta {
    height: 1vh !important;
  }
}

.input-label {
  font-size: 1.2vw;
}

.container {
  margin-top: 5vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important
}

.login-button {
  background-color: c.$color3;
  color: white;
  border-radius: 28px;
  height: 45px;
  width: auto;
  margin-top: 5%;
  margin-bottom: 10px;
  line-height: 45px;
  font-weight: bolder;
  font-size: larger;
  font-family: comforta, serif;
  text-align: center;
  border: none;
}

.login-button:hover {
  background-color: c.$color2;
}


a {
  text-decoration: none;
  color: inherit;
  margin-top: 110px;
}

.register-link {
  margin-top: 1em;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: c.$color3;
  width: 4vw;
  height: 6vh;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  line-height: 18px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bolder;
  font-size: large;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: c.$registerC !important;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}