@use './../../color.scss' as c;

html {
  scroll-behavior: smooth;
}

.section #main-image {
  scroll-margin-top: 50px;
}

.section {

}

#section2 {
  margin-top: 2vh !important;
}

.section1 {
  height: 85vh !important;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 20px;
  height: 20px;
  margin: 7px;
  position: relative;
  z-index: 9999;
  opacity: 1;
}

#fp-nav span {
  background: red !important;
}


.explanation-container h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5vh;
  font-size: 2.8vw;
  border-bottom: 2px solid black;
  padding: 0 0 1rem 0;
}

.explanation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  padding: 4vh 5vw 0 5vw;
  line-height: 35px;
  font-size: 1.5vw;
}

.img-box {
  padding: 4vh 5vw 0 5vw;
}

.container {
}

.column {
  float: left;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.headline {
  width: 100%;
  z-index: 9;
}

#topText {
  z-index: 9;
}

.border-box {
  width: 100% !important;
  display: grid;
  place-items: center;
  position: absolute;
  left: 50%;
  margin-top: 24vw;
  transform: translate(-50%, -50%);
  z-index: 9 !important;
  height: 30vh !important;
  background-color: rgba(0,0,0,.5);
}

.headline h1{
  margin-top: 24vw;
  background: -webkit-linear-gradient(150deg, c.$fontC 50%, c.$logInFontC 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  letter-spacing: 2px;
  white-space: nowrap;
  text-align: center;
  border: none !important;
  opacity: 1;
  width: auto;
  height: 12vh;
}


.fp-tableCell {
  height: 20vw !important;
}

#backgroundImg {
  width: 100% !important;
  z-index: 1;
}

#text-image {
  width: 30vw !important;
  height: auto;
  border-radius: 10%;
}

#explanation {
  background-color: #72c091;
}

#klima-box {
  background-color: #ffffff;
  margin: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0; /* nicht nötig */
  }

  section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-margin: 0;  /* nicht nötig */
  }
}

@media screen and (max-width: 1200px) {
  .section1 {
    height: 70vh !important;
  }
  .text-box {
    line-height: 25px;
  }
  .border-box {
    height: 20vh !important;
  }
}

@media screen and (max-width: 800px) {
  .section1 {
    height: 75vh !important;
  }
  #explanationText {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
  .text-box {
    line-height: 18px;
  }
  h1 {
    padding: 0 0 .5rem 0;
  }
  .border-box {
    height: 15vh !important;
  }
}

@media screen and (max-width: 500px) {
  .section1 {
    height: 48vh !important;
  }
  .section2 > div > div > div > p{
   font-size: 1.8em !important;
  }
  .border-box {
    height: 10vh !important;
  }
  h1 {
    padding: 0;
  }
  .text-box {
    line-height: 12px;
  }
}

@media screen and (max-width: 650px) {
  #explanationText {
    font-size: 1.5em !important;
    line-height: 1.5em !important;
  }
}


.klimaBoxStyle {
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgb(68 88 144 / 20%);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    width: 100%;
}

#einDrittel{
  font-size: 1.6em;
  color: #385938;
  font-style: oblique;
  line-height: 1.2em;
}

#textKostenG{
  font-style: italic;
  font-size: 1.3em;
  color: #4c654c;
}
