@import url(~fullpage.js/dist/fullpage.min.css);

section {
  width: 100%;
  float: left;
  height: 100vh;
  scroll-snap-align: center;
}

.section #main-image {
  height: 10vw !important;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  z-index: 9999;
  border: 1px solid red;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5vh;
  font-size: 2.8vw;
  border-bottom: 2px solid black;
  padding: 0 0 1rem 0;
}

.explanation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  padding: 4vh 5vw 0 5vw;
  line-height: 35px;
  font-size: 1.5vw;
}

.img-box {
  padding: 4vh 5vw 0 5vw;
}

.container {
}

.column {
  float: left;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.headline {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50vh !important;
  font-size: 5vw;
  background-color: black;
  opacity: .5;
}

.headline h1 {
  z-index: 9999;
}

.fp-tableCell {
  height: 20vw !important;
}

#text-image {
  width: 30vw !important;
  height: auto;
}

#main-image {
  width: 100vw !important;
  height: 48vw !important;
  background-image: url('~src/assets/img/klimaboxOther2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#explanation {
  background-color: #72c091;
}

#klima-box {
  background-color: #f6b024;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0; /* nicht nötig */
  }

  section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-margin: 0;  /* nicht nötig */
  }
}

@media screen and (max-width: 1200px) {
  .text-box {
    line-height: 25px;
  }
}

@media screen and (max-width: 800px) {
  .text-box {
    line-height: 18px;
  }
  h1 {
    padding: 0 0 .5rem 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    padding: 0;
  }
  .text-box {
    line-height: 12px;
  }
}