

    <div class="section" id="main-image">
        <div class="headline">
            <div class="border-box"></div>
            <h1 id="topText">Eat green  stay clean</h1>
            <img id="backgroundImg" src="assets/img/klimaboxOther.png">
        </div>
    </div>
    <div class="section section1" id="section2">
        <div class="explanation-container">
            <h1>Warum gibt es die Klimabox?</h1>
        </div>
        <div class="row">
            <div class="column img-box left">
                <img id="text-image" src="assets/img/elternCagitz.png" alt="image">
            </div>
            <div class="column text-box right">
                Warum KlimaBox? Wir wollen dafür sorgen, dass Lebensmittel gegessen statt verschwendet werden.
                Jeden Tag werden in Cafés, Bäckereien, Supermärkten, Hotels & Co. gute Lebensmittel weggeworfen – nur weil sie nicht verkauft wurden.
                Mit der KlimaBox will das Gasthaus Cagitz dies Problem für Ihr Restaurant lösen.
                Mit der Klimabox kannst du unsere Lebensmittel zu einem vergünstigten Preis kaufen.
            </div>
        </div>
    </div>


    <div class="section section1" id="klima-box">
        <div class="klimaBoxStyle">
            <app-product-category [urlName]="'klimaBox'" [title]="'Klima Box'"></app-product-category>
        </div>
    </div>
