<div class="section" id="main-image">
    <div class="headline">
        <div class="border-box"></div>
        <h1 id="topText">Eat green stay clean</h1>
        <img loading="lazy" id="backgroundImg" src="assets/img/klimaboxOther.png">
    </div>
</div>
<div class="section section1" id="section2">
    <div class="explanation-container">
        <h1>Was ist das "Don't Waste Meal"?</h1>
    </div>
    <div class="row">
        <div class="column img-box left">
            <img loading="lazy" id="text-image" src="assets/img/1-3-pizza.png" alt="image">
        </div>
        <div class="column text-box right">
            <p id="explanationText">
                Das "Don't Waste Meal" beinhaltet Produkte des Mittagsmenüs, die normalerweise entsorgt werden.
                Es wird zu einem günstigeren Preis angeboten und kann in Form eines umweltfreundlichen Papiersackerls,
                direkt beim Restaurant abgeholt werden.
                Der Kunde spart nicht nur Geld, sondern hilft auch dabei, weniger Lebensmittel zu verschwenden.
            </p>
            <p id="textKostenG"> Bestellen Sie jetzt kostengünstig und nachhaltig! </p>
            <br> <br>
            <p id="einDrittel">
                ÜBER 1/3 DER LEBENSMITTEL WIRD VERSCHWENDET
                UND DAS WOLLEN WIR ÄNDERN
            </p>
        </div>
    </div>
</div>


<div class="section section1" id="klima-box">
    <!-- <div class="klimaBoxStyle"> -->
    <app-klima-box-category [urlName]="'klimaBox'" [title]="title"></app-klima-box-category>
    <!-- </div> -->
</div>