@use '../../color.scss' as c;

button.register-button {
  background-color: c.$registerC;
  color: white;
  border-radius: 28px;
  height: 45px;
  width: auto;
  margin-top: 5%;
  margin-bottom: 10px;
  line-height: 45px;
  font-weight: bolder;
  font-size: larger;
  font-family: comforta, serif;
  text-align: center;
  border: none;
  padding: 0 15px 0 15px;
}

button.register-button:hover {
  background-color: rgb(85, 129, 176);
}

#login-button {
  background-color: c.$backGC;
  color: white;
  border-radius: 28px;
  height: 45px;
  width: auto;
  margin-top: 5%;
  margin-bottom: 10px;
  line-height: 45px;
  font-weight: bolder;
  font-size: larger;
  font-family: comforta, serif;
  text-align: center;
  border: none;
  padding: 0 10px 0 10px;
}

#login-button:hover {
  background-color: c.$color2;
}
